body {
    background-color: #FFF;
    font-family: "Fira Sans", sans-serif;
}

.worth {
    color: #2b8a3e;
}

.nav-logo {
	line-height: 1;
	font-weight: 500;
	font-size: 25px;
	text-decoration: none;
	color: var(--main);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}